header {
  background: #223;
  display: flex;
  position: sticky;
}

header h1 {
  display: flex;
  font-family: sans-seriff";
  color: #fff;
  align-items: center;
}

header .logo-title {
  text-align: left;
}

header .logo-buttons {
  justify-content: center;
  text-align: right;
}
