header {
  background: #223;
  display: flex;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 3px solid #336;
}

header h1 {
  color: #fff;
  font-family: sans-serif;
}

h1 .logo-title .logo-buttons {
  display: flex;
  align-items: center;

header h1 .logo-buttons {
  text-align: right;
}
