header {
  background: #223;
  display: flex;
  position: sticky;
}

header h1 {
  color: #fff;
  font-family: sans-serif;
}

header .logo-title .logo-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo-title {
  text-align: left;
}

header .logo-buttons {
  text-align: right;
}
